.card {
  @apply h-36 w-64 bg-white shadow-md rounded-md flex flex-col 
  items-center justify-end p-4 relative justify-self-center cursor-pointer;
}

.cardImage {
  @apply rounded-full absolute -top-16 w-32;
}

.cardTitle {
  @apply font-bold w-full text-center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardAuthor {
  @apply text-sm text-gray-500 w-full text-center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
